/*------------------GENERAL SELECTORS------------------*/

/*font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif;*/


/*Para que las anchuras sean mas exactas y no se sumen con padding y margin*/
*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0 ;
    padding:0 0px;
    color: #302528;
}

section{
    padding: 48px 40px;
}


/*Typography Selectors*/

h1, h2{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
    font-weight:normal;
    margin: 0;
    padding:0;
}

h1{
    Font-size: 72px;
}

h2{
    Font-size: 56px;
}

h3{
    font-size:32px;
    font-weight:300;
    margin: 0;
    padding:0;
}

h4{
    font-size:24px;
    font-weight: 400;
}

p{
    font-size: 20px;
    font-weight:300;
    line-height: 1.6;

}


/*FREQUENTLY USED*/

.autosize{
    max-width: 1320;
    width:85%;
    margin:0 auto;
}

.classic-button{
    display:inline-block;
    padding:10px 20px;
    background: #FF4881;
    color:#ffffff;
    text-align:center;
    border-radius: 25px;
    width:auto;
    text-decoration: none;
}

/*.classic-button:hover{
    background: #cc3967;
}*/

.classic-button:active{
    background: #cc3967;
}

/*-----------------HEADER SELECTORS---------------------*/

.header{
    padding:20px;
}

.header__menu{
    display: flex;
    /* Para que se distribuyan en orden en el caso del top nav de un lado al otro*/
    justify-content: space-between;
    /*para que se centren verticalmente*/
    align-items: center;
}

.header__menu-logo img{
    width: 100px;
    height: auto;
}

.header__menu-links a{
    display:inline-block;
    padding:10px;
    text-decoration:none;
    color: #302528;
    font-size:24px;
    font-family: 'Abril Fatface', cursive;
}

.header__menu-links a:hover {
    color: #FF4881;
}

.header__menu-links a:active{
    color: #cc3967;
}

/*-----------------FOOTER SELECTORS---------------------*/

.footer{
    padding:40px;
    background-color: #F3A3BC;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu-links{
    display:inline-block;
}


/*-------------------INTRO SELECTORS -------------------*/

.intro__container{
    width: 75%;
    margin:0 auto;
    text-align: center; 
}

.intro h3 {
    text-align:center;
    margin-top:48px;
    margin-bottom: 60px;
    
}

.intro__title{
    text-align:center;
}

.intro__title span{
    color: #FF4881;
}


/*-------------------TROT SELECTORS -------------------*/

.trot{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}


.trot__container-text{
    width: 50%;
    margin:0;
    text-align: left; 
    float:left;
}



.trot__screens img{
    width: 640px;
    height: auto;
    float: right;
    margin: 48px 0;
    text-align: right;
}

.trot a{
    margin-top: 48px;
}

/*-------------------ABOUT SELECTORS -------------------*/

.about{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #FEE6ED;
}

.about__text{
    width: 50%;
    margin:0;
    text-align: left; 
    float:left;
}

.about__image img{
    width: 460px;
    height: auto;
    float: right;
    margin: 48px 0;
    text-align: right;
}

.about a{
    margin-top: 48px;
}

/*-------------------CONTACT SELECTORS -------------------*/

.contact{
    background-color: #302528;
}


.contact__container{
    width: 75%;
    margin:0 auto;
    text-align: center; 
}

.contact h2{
    text-align:center;
    margin-top:48px;
    margin-bottom: 60px;
    color: #ffffff;
}

.contact h3{
    color: #ffffff;
    margin-bottom: 62px;
}
 
.contact__container a{
    color: #FF4881;
    text-decoration:none;
}

.contact__container a:hover{
    color:#cc3967;
}

/* WE NEED TO CHANGE THE TEXT OF THE BUTTTON <a> APPEARS TWICE UNDER THIS SECTION.*/

