/*------------------GENERAL SELECTORS------------------*/
/*Para que las anchuras sean mas exactas y no se sumen con padding y margin*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0 ;
    padding:0 0px;
    color: #302528;
}
.section{
    width:100%;
}
/*Typography Selectors*/
h1, h2{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
    font-weight:normal;
    margin: 0;
    padding:0;
}
h1{
    Font-size: 56px;
}
h2{
    Font-size: 48px;
}
h3{
    font-size:32px;
    font-weight:400;
    margin: 0;
    padding:0;
    line-height: 1.6;
}
h4{
    font-size:24px;
    font-weight: 600;
    margin: 0;
    padding:0;
}
p{
    font-size: 20px;
    font-weight:300;
    line-height: 1.6;
}
/*FREQUENTLY USED*/
.autosize{
    max-width: 1320px;
    padding: 48px 5%;
    width: 100%;
    margin: 0 auto;
}
.classic-button{
    display:inline-block;
    padding:10px 20px;
    background: #FF4881;
    color:#ffffff;
    text-align:center;
    border-radius: 25px;
    width:auto;
    text-decoration: none;
}
.classic-button:active{
    background: #cc3967;
}
.center-button{
    text-align: center;
}
.flex-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin:20px 0;
}
.flex-container--align-top{
    align-items: flex-start;
}
/*/////////////////////////////////HEADER SELECTORS//////////////////////////////////*/
.header{
    padding:20px 5%;
    max-width: 1320px;
    widows: 100%;
    margin: 0 auto;
}
.header__menu{
    display: flex;
    /* Para que se distribuyan en orden en el caso del top nav de un lado al otro*/
    justify-content: space-between;
    /*para que se centren verticalmente*/
    align-items: center;
}
.header__menu-logo img{
    width: 100px;
    height: auto;
}
.header__menu-links a{
    display:inline-block;
    padding:10px;
    text-decoration:none;
    color: #302528;
    font-size:24px;
    font-family: 'Abril Fatface', cursive;
}
.header__menu-links a:hover {
    color: #FF4881;
}
.header__menu-links a:active{
    color: #cc3967;
}
/*/////////////////////////////////HOME SELECTORS//////////////////////////////////*/
/*-------------------INTRO SELECTORS -------------------*/
.intro__container{
    width: 75%;
    margin:0 auto;
    text-align: center; 
}
.intro h3 {
    text-align:center;
    margin-top:48px;
    margin-bottom: 60px;  
}
.intro__title{
    text-align:center;
}
.intro__title span{
    color: #FF4881;
}
/*-------------------TROT SELECTORS -------------------*/
.trot__container-text{
    flex-basis: 50%;
    margin:0;
}
.trot__container-image{
    flex-basis: 45%;
    margin: 0;
}
.trot__container-image img{
    width:100%;
    height: auto;
    margin: 0;
}
.trot a{
    margin-top: 48px;
}
/*-------------------BUSY BUS SELECTORS -------------------*/
.busy-bus__container-image{
    flex-basis: 45%;
    margin: 0;
}
.busy-bus__container-image img{
    width:100%;
    height: auto;
    margin: 0;
}
.busy-bus__container-text{
    flex-basis: 50%;
    margin:0;
}
.busy-bus a{
    margin-top: 48px;
}
/*-------------------ABOUT SELECTORS -------------------*/
.about{
    background-color: #FEE6ED;
}
.about__text{
    flex-basis: 50%;
    margin:0;
}
.about__image{
    flex-basis: 40%;
    margin:0;
}
.about__image img{
    width: 460px;
    height: auto;
    margin: 0;
}
.about a{
    margin-top: 48px;
}
/*-------------------CONTACT SELECTORS -------------------*/
.contact{
    background-color: #302528;
}
.contact__container{
    width: 80%;
    margin:0 auto;
    text-align: center; 
}
.contact h2{
    text-align:center;
    margin-top:48px;
    margin-bottom: 60px;
    color: #ffffff;
}
.contact h3{
    color: #ffffff;
    margin-bottom: 62px;
}
.contact__container-link {
    color: #FF4881;
    text-decoration:none;
}
.contact__container-link:hover{
    color:#cc3967;
}
.contact a{
    margin-bottom: 48px;
}
/*/////////////////////////////////ABOUT SELECTORS//////////////////////////////////*/
/*--------------------Intro Selectors---------------------*/
.about__intro{
    background-color: #FEE6ED;
}
.about__intro-container{
    width: 75%;
    margin:0 auto;
    text-align: center; 
}
.about__intro-container h2{
    margin-top: 70px;
}
.about__intro-container p{
    margin-bottom: 70px;
}
.about__intro-container span{
    color: #FF4881;
}
/*----------------------Bio Selectors-------------------------*/
.about__bio{
    background-color: #FEE6ED;
}
.about__bio-text{
    flex-basis: 50%;
    margin:0;
}
.about__bio-container-image{
    flex-basis: 45%;
    margin: 0;
}
.about__bio-container-image img{
    width:100%;
    height: auto;
    margin: 30px auto;
}
.bio-flex-container{
    display: flex; 
    justify-content: space-between;   
}
/*/////////////////////////////////CASE STUDY SELECTORS//////////////////////////////////*/
/*----------------------Trot Intro Selectors-------------------------*/
.trot-intro__container-text{
    flex-basis: 55%;
    margin:0;
}
.trot-logo__container-image{
    flex-basis: 35%;
    margin: 0;
}
.trot-logo__container-image img{
    width:100%;
    height: auto;
    margin: 0;
}
.trot-intro a{
    margin-top: 48px;
}
/*----------------------Overview Selectors-------------------------*/
.overview h2{
    margin: 32px 0;
}
/*<<<<<Summary Selectors>>>>>*/
.overview__summary-container-text{
    flex-basis: 50%;
    margin:0;
}
.overview__summary-container-image{
    flex-basis: 30%;
    margin: 0;
}
.overview__summary-container-image img{
    width:100%;
    height: auto;
    margin: 0;
}
/*<<<<<Design Role, Deliverables and Tools Selectors>>>>>*/
.overview__design{
    margin: 0 120px;
    margin-top: 120px
}
.overview__design div{
    text-align:center;
}
.overview__design h4{
    text-align:center;
    margin: 40px 0 20px;
}
.overview__design ul{
    list-style: none;
    padding:0;
    margin:0;
    line-height: 2;
}
/*----------------------Discovery Phase Selectors-------------------------*/
.discovery h2{
    margin-top: 24px;
}
/*<<<<<User Surveys Selectors>>>>>*/
.survey__intro-container{
    width: 75%;
    margin:0 auto;
    text-align: left;
}
.survey__findings-title{
    text-align: center;
    margin-bottom: 56px;
}
.survey__findings div{
    flex-basis: 30%;
    text-align: center;
}
.survey__findings ul, p{
    margin-top: 24px;
    text-align:left;
    line-height: 1.6;
    font-size: 16px;
    list-style: none;  
}
.survey__findings ul, li{
    margin-left: 0; 
    padding-left: 0;
    margin: 1em 0;
}
/*<<<<<Competitive Analysis Selectors>>>>>*/
.analysis__container-text{
    flex-basis: 50%;
    margin:0;
}
.analysis__container-image{
    flex-basis: 35%;
    margin: 0;
}
.analysis__container-image img{
    width:100%;
    height: auto;
    margin: 0;
}
.analysis a{
    margin-top: 48px;
}
/*<<<<<User Personas Selectors>>>>>*/
.personas__intro-container{
    width: 75%;
    margin:0 auto;
    text-align: left;
}
.personas__card{
    flex-basis:45%;
}
.personas__card img{
    /*display: block;*/
    margin:48px  auto;
}
.personas__card-quote{
    display:block;
    padding:15px 30px;
    background: #FEE6ED;
    font-size: 16px;
    line-height:1.5;
}
.personas__card-quote q{
    font-style: italic;
}
.personas__card-quote h4{
    font-size: 16px;
}
.personas__card ul{
    line-height: 1.6;
    list-style: none;
}
.personas__card ul li::before {
    content: "\2022";  
    color: #F3A3BC; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }
/*.personas__photo-user{
    width: 100%;
    height: 360px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
.pic-quote{
    position:relative;
    text-align: right;
}
.pic-quote--left{
    text-align: left;
}
.personas__card-quote{
    text-align:left;
    position: absolute;
    width:60%;
    top: 30%;
    left: 0;
}
.personas__card-quote--left{
    right:0;
    left: initial;
}
/*----------------------Information Architecture Selectors-------------------------*/
.information-architecture h2{
    margin-top: 24px;
}
/*<<<<<User Stories and User Flows Selectors>>>>>*/
.stories-flows__intro-container{
    width: 75%;
    margin:0 auto;
    text-align: left;
}
.stories-flows__title{
    width: 65%;
    margin:0 auto;
    text-align: center;
}
.stories-flow__container-image img{
    width:75%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.stories-flows__buttons a{
    margin: 0 180px;
    margin-top: 48px;
}
/*<<<<<Wireframes Selectors>>>>>*/
.wireframes__intro-container{
    width: 75%;
    margin:0 auto;
    text-align: left;
}
.wireframes__images-paper-container{
    flex-basis: 45%;
    margin: 0;
    text-align: center;
}
.wireframes__images-lofi-container{
    flex-basis: 45%;
    margin: 0;
    text-align: center;
}
.wireframes__images-image img{
    width:100%;
    height: auto;
    margin: 0;
}
.wireframes__images-button a{
    margin-top: 16px;
}
/*<<<<<Usability Test Selectors>>>>>*/
.usability-test__text{
    flex-basis: 50%;
    margin:0;
}
.usability-test a{
    margin-top: 48px;
}
.usability-test ol{
    font-size: 20px;
    line-height: 1.6;
}
.usability-test__video iframe{
    display: block;
    height: 400px;
    margin: 0 auto;
}
/*----------------------Branding Selectors-------------------------*/
.branding h2{
    margin-top: 24px;
}
/*<<<<<Branding Intro Selectors>>>>>*/
.branding__intro-container-text{
    flex-basis: 50%;
    margin:0;
}
.branding__intro-container-image{
    flex-basis: 45%;
    margin: 0;
}
.branding__intro-container-image img{
    width:100%;
    height: auto;
    margin: 0;
}
/*<<<<<Branding Images Selectors>>>>>*/
.branding-process__images{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.branding-process__images img{
    height: 232px;
    width: auto;
    margin:0 24px;
}
/*<<<<<Branding Colors Selectors>>>>>*/
.branding__colors--container-text{
    flex-basis: 50%;
    margin:0;
}
.branding__colors--container-image{
    flex-basis: 35%;
    margin: 0;
}
.branding__colors--container-image img{
    width:100%;
    height: auto;
    margin: 0;
}
/*<<<<<Branding Typography Selectors>>>>>*/
.branding__typography--container-text{
    flex-basis: 50%;
    margin:0;
}
.branding__typography--container-image{
    flex-basis: 35%;
    margin: 0;
}
.branding__typography--container-image img{
    width:100%;
    height: auto;
    margin: 0;
}
/*-----------------------High Fidelity Prototype Selectors-------------------------*/
.prototype h2{
    margin-top: 24px;
}
/*<<<<<Text Selectors>>>>>*/
.prototype__text{
    flex-basis: 50%;
    margin:0;
}
.prototype__image{
    flex-basis: 45%;
    margin:0;
}
.prototype__image img{
    width: 460px;
    height: auto;
    margin: 0;
}
.prototype a{
    margin-top: 48px;
}
/*<<<<<Trot Screens Selectors>>>>>*/
.prototype__screens{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 56px 0px;
}
/*<<<<<Prototype Video Selectors>>>>>*/
.prototype__video iframe{
    display: block;
    height: 312px;
    margin: 0 auto;
}
/*----------------------Conclusion Selectors-------------------------*/
.conclusion h2{
    margin-top: 24px;
}
/*<<<<<Conclusion Selectors>>>>>*/

.conclusion__text{
    flex-basis: 50%;
    margin:0;
}
.conclusion__image{
    flex-basis: 45%;
    margin:0;
}
.conclusion__image img{
    width: 460px;
    height: auto;
    margin: 0;
}
.conclusion a{
    margin-top: 48px;
}
/*/////////////////////////////////CONTACT FORM SELECTORS//////////////////////////////////*/
/*----------------------Form Intro Selectors-------------------------*/
.form__intro-container{
    width: 75%;
    margin:0 auto;
    text-align: center; 
}
.form__intro-container span{
    color: #FF4881;
}
/*----------------------Form Selectors-------------------------*/
label{
    display:block;
    margin: 16px 0;
    font-size:20px;
    font-weight: 600;
}
input[type="text"], input[type="email"]{
    width: 100%;
    padding:10px;
    margin-top: 20px;
    color: #302528;
    border:1px solid #302528;
    font-size:20px;
    font-weight:400;
}
input[type="submit"]{
    border: none;
    cursor:pointer;
    padding:10px 32px;
    height: auto;
    margin: 0 auto;
    display: block;
    font-size:20px;
    font-weight:400;
    font-family:"Raleway", sans-serif;
}
textarea{
    width: 100%;
    padding:10px;
    margin-top:20px;
    color: #302528;
    border:1px solid #302528;
    min-height: 300px;
    font-size:20px;
    font-weight:400;
    font-family:"Raleway", sans-serif;
    resize:none;
}
/*////////////////////////////////FOOTER SELECTORS//////////////////////////////////*/
.footer{
    background-color: #F3A3BC;
}
.footer__container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1320px;
    padding: 24px 5%;
    margin: 0 auto;
}
.footer__menu-links{
    display:inline-block;
}
.footer__menu-links a i{
    font-size:36px;
    color: #302528;
    margin:10px;
}
.footer__menu-links a:hover i {
    color: #FF4881
}
.footer__menu-links a:active i {
    color: #cc3967;
}



