/*------------------GENERAL SELECTORS------------------*/

/*font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif;*/


/*Para que las anchuras sean mas exactas y no se sumen con padding y margin*/
*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0 ;
    padding:0 0px;
    color: #302528;
}

.section{
    width:100%;
}


/*Typography Selectors*/

h1, h2{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
    font-weight:normal;
    margin: 0;
    padding:0;
}

h1{
    Font-size: 72px;
}

h2{
    Font-size: 56px;
}

h3{
    font-size:32px;
    font-weight:300;
    margin: 0;
    padding:0;
    line-height: 1.6;
}

h4{
    font-size:24px;
    font-weight: 400;
}

p{
    font-size: 20px;
    font-weight:300;
    line-height: 1.6;

}


/*FREQUENTLY USED*/

.autosize{
    max-width: 1320px;
    padding: 48px 5%;
    width: 100%;
    margin: 0 auto;
}

.classic-button{
    display:inline-block;
    padding:10px 20px;
    background: #FF4881;
    color:#ffffff;
    text-align:center;
    border-radius: 25px;
    width:auto;
    text-decoration: none;
}

/*.classic-button:hover{
    background: #cc3967;
}*/

.classic-button:active{
    background: #cc3967;
}
.flex-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}


/*/////////////////////////////////HEADER SELECTORS//////////////////////////////////*/
.header{
    padding:20px 5%;
    max-width: 1320px;
    widows: 100%;
    margin: 0 auto;
}
.header__menu{
    display: flex;
    /* Para que se distribuyan en orden en el caso del top nav de un lado al otro*/
    justify-content: space-between;
    /*para que se centren verticalmente*/
    align-items: center;
}
.header__menu-logo img{
    width: 100px;
    height: auto;
}
.header__menu-links a{
    display:inline-block;
    padding:10px;
    text-decoration:none;
    color: #302528;
    font-size:24px;
    font-family: 'Abril Fatface', cursive;
}
.header__menu-links a:hover {
    color: #FF4881;
}
.header__menu-links a:active{
    color: #cc3967;
}

/*////////////////////////////////FOOTER SELECTORS//////////////////////////////////*/
.footer{
    background-color: #F3A3BC;
}
.footer__container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    /*These threee lines help to keep the content of the container centered and with a max of 1320px*/
    max-width:1320px;
    padding: 24px 5%;
    margin: 0 auto;
}
.footer__menu-links{
    display:inline-block;
}
.footer__menu-links a i{
    font-size:36px;
    color: #302528;
    margin:10px;
}
.footer__menu-links a:hover i {
    color: #FF4881
}
.footer__menu-links a:active i {
    color: #cc3967;
}

/*/////////////////////////////////HOME SELECTORS//////////////////////////////////*/
/*-------------------INTRO SELECTORS -------------------*/
.intro__container{
    width: 75%;
    margin:0 auto;
    text-align: center; 
}
.intro h3 {
    text-align:center;
    margin-top:48px;
    margin-bottom: 60px;  
}
.intro__title{
    text-align:center;
}
.intro__title span{
    color: #FF4881;
}


/*-------------------TROT SELECTORS -------------------*/
.trot__container-text{
    flex-basis: 50%;
    margin:0;
}
.trot__container-image{
    flex-basis: 45%;
    margin: 0;
}
.trot__container-image img{
    width:100%;
    height: auto;
    margin: 0;
}
.trot a{
    margin-top: 48px;
}

/*-------------------ABOUT SELECTORS -------------------*/
.about{
    background-color: #FEE6ED;
}
.about__text{
    flex-basis: 50%;
    margin:0;
}
.about__image{
    flex-basis: 40%;
    margin:0;
}
.about__image img{
    width: 460px;
    height: auto;
    margin: 0;
}
.about a{
    margin-top: 48px;
}

/*-------------------CONTACT SELECTORS -------------------*/
.contact{
    background-color: #302528;
}
.contact__container{
    width: 80%;
    margin:0 auto;
    text-align: center; 
}
.contact h2{
    text-align:center;
    margin-top:48px;
    margin-bottom: 60px;
    color: #ffffff;
}
.contact h3{
    color: #ffffff;
    margin-bottom: 62px;
}
.contact__container-link {
    color: #FF4881;
    text-decoration:none;
}
.contact__container-link:hover{
    color:#cc3967;
}
.contact a{
    margin-bottom: 48px;
}

/*/////////////////////////////////ABOUT SELECTORS//////////////////////////////////*/
/*--------------------Intro Selectors---------------------*/
.about__intro-container{
    width: 75%;
    margin:0 auto;
    text-align: center; 
}
.about__intro-container h2{
    margin-top: 70px;
}
.about__intro-container p{
    margin-bottom: 70px;
}
.about__intro-container span{
    color: #FF4881;
}
/*----------------------Bio Selectors-------------------------*/
.about__bio-text{
    flex-basis: 50%;
    margin:0;
}
.about__bio-container-image{
    flex-basis: 45%;
    margin: 0;
}
.about__bio-container-image img{
    width:100%;
    height: auto;
    margin: 30px auto;

}
.bio-flex-container{
    display: flex; 
    justify-content: space-between;   
}